/* custom css file for scrumlab */

/* custom top padding for bootstrap "fixed navigation"" */

body {
    padding-top: 70px;
}
.error-message {
    color: red;
    margin-left: 0.5em;
}
.connection-status {
    top: 0;
    left: 50%;
    position: fixed;
    z-index: 2000;
}
.connection-status .inner {
    margin-left: -50%;
    background: red;
    padding: 2px;
    text-align: center;
    box-shadow: 0px 2px 5px #444;
    color: white;
}

#panel-left .panel-body {
    position: relative;
    height: 400px;
    overflow: scroll;
}