details {
    width: 60%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-radius: 5px;
}

.story {
    width: 60%;
    height: auto;
    min-height: 40px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #eae8e8;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    box-shadow: 3px 3px 8px #888888;
    position: relative;
}

.hours {
    position: absolute;
    top: 5px;
    right: 5px;
    width: auto;
    text-align: right;
    height: 40px;
    font-size: 40px;
}