.story_add {
    width: 60%;
    height: auto;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #87fac9;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    box-shadow: 3px 3px 8px #888888;
    position: relative;
}

.story {
    width: 60%;
    height: auto;
    min-height: 40px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #87aefa;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    box-shadow: 3px 3px 8px #888888;
    position: relative;
}

.story_title {
    width: 60%;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
    margin: 10px;
}

.story_type {
    text-align: center;
    width: 20%;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 61%;
}

.story_text {
    margin: 10px;
    margin-top: 45px;
}

.story_hours {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 5px;
    width: auto;
    text-align: right;
    height: 40px;
    font-size: 40px;
}

.story_assignee {
    position: absolute;
    right: 10px;
    width: auto;
    text-align: right;
    height: 16px;
    font-size: 16px;
}

.task {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: auto;
    min-height: 50px;
    background: #c7d4f8;
    position: relative;
    box-shadow: 3px 3px 8px #888888;
    border-radius: 5px;
}

.task_add {
    width: 97%;
    height: auto;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #87fac9;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    box-shadow: 3px 3px 8px #888888;
    position: relative;
}

.task_title {
    width: 60%;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 5px;
    left: 5px;
    margin: 10px;
}

.task_text {
    margin: 10px;
}

.task_hours {
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: right;
    height: 40px;
    width: 40px;
    font-size: 40px;
}

.task_assignee {
    position: relative;
    right: 5px;
    bottom: 5px;
    width: auto;
    text-align: right;
    height: 16px;
    font-size: 16px;
}