<template name="editSprint">
    <div class="edit-sprint">
        {{log this "editSprint"}}
        {{#if sprint}}
        <span class="title">Edit sprint</span>
        {{else}}
        <span class="title">Add sprint</span>
        {{/if}}
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-1 control-label">Name</label>
                <div class="col-sm-7">
                    <input type="text" name="name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">From</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <label class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>
                        </label>
                        <input type="text" name="from" class="sprint-date date-picker form-control" />
                    </div>
                </div>
                <label class="col-sm-1 control-label">To</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <label class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>
                        </label>
                        <input type="text" name="to" class="sprint-date date-picker form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-1">
                    <input type="submit" class="btn btn-sm btn-primary" value="Add new issue" />
                    <a class="close-it" href="#">close</a>
                </div>
            </div>
            <!--
            
            <div class="input-group">
                <label for="date-picker-3" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>
                </label>
                <input type="text" class="sprint-date date-picker form-control" />
            </div>
            <div class="input-group">
            <input type="text" class="form-control" placeholder="Sprint name">
                </div>
            -->

        </form>
    </div>

</template>