<template name="issueItemTmpl">
    <div id={{_id}} title={{gitlab.title}} ref={{sprint}} objectType="issue" class="list-group-item story" state={{gitlab.state}}>
        <div class="pull-right right_icons">
            <span class="deleteButton glyphicon glyphicon-remove"></span> 
            <span class="glyphicon glyphicon-th-list"></span>
        </div>
        <span class="label label-warning pull-left">
            {{#if estimation}}
            {{estimation}}
            {{else}}
            <span class="glyphicon glyphicon-time"></span>
        {{/if}}
        </span>
        <h4 class="title list-group-item-heading">
                {{gitlab.title}}
        </h4>
        <div class="collapse">
            <p ref="description" data-type="textarea" class="list-group-item-text">{{gitlab.description}}</p>
            <div class="" style="clear:both">
                <form class="form-horizontal" id="{{_id}}">
                    <p>
                        <input type="text" class="form-control" name="title" placeholder="Add new task and press enter" tabindex="1">
                    </p>
                </form>
                {{> tasksListTmpl tasks _id}}
            </div>
        </div>
    </div>
</template>