.story {
    width: 100%;
    height: auto;
    min-height: 40px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    color: black;
    font-size: 14px;
    position: relative;
}
.storyTitle {
    font-weight: bold;
    margin: 10px;
}
.storyType {
    text-align: center;
    font-weight: bold;
    margin: 10px;
    color: red;
    float: right;
}
.storyText {
    margin: 10px;
    clear: both;
}
.storyHours {
    /*    float:right;
    margin:5px;
    width:auto;
    text-align:right;
    height:40px;
    font-size:30px;*/
}
.storyAssignee {
    right: 10px;
    bottom: 5px;
    width: auto;
    text-align: right;
    height: 16px;
}
.task {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: auto;
    min-height: 50px;
    background: #c7d4f8;
    position: relative;
    box-shadow: 3px 3px 8px #888888;
    border-radius: 5px;
    position: relative;
}
.taskAdd {
    width: 97%;
    height: auto;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #87fac9;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    box-shadow: 3px 3px 8px #888888;
    position: relative;
}
.taskTitle {
    width: 60%;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 5px;
    margin: 10px;
}
.taskText {
    margin: 15px;
}
.taskHours {
    position: absolute;
    right: 15px;
    top: -5px;
    text-align: right;
    height: 40px;
    width: 40px;
    font-size: 40px;
}
.taskAssignee {
    position: relative;
    right: 5px;
    bottom: 5px;
    width: auto;
    text-align: right;
    height: 16px;
    font-size: 16px;
}
.deleteButton {
    height: 16px;
    width: 16px;
    color: #F3E9E8
}
.right_icons {
    width: 16px;
    opacity: 0.5;
}
div.story:hover .right_icons {
    opacity: 1;
}
div.story:hover {
    background-color: #fafafa;
}