<template name="issuesPanel">
    {{#if context.project}}
    <div class="issues-panel" id="panel-{{name}}" data-name="{{name}}" data-id="{{selectedSprint._id}}">
        <div class="issues-panel-header">
            {{> issuesPanelDropdown}}
            <em>{{selectedSprint.help}}</em>
            {{#if selectedSprint.editable}}
                <a href="#" class="edit-sprint fa fa-pencil"></a>
            {{/if}}
        </div>
        <div class="issues-panel-body">
            <ul class="issues-list">
                {{#each issues selectedSprint.value}}
                <li>{{>issueItemTmpl}}{{invalidate}}</li>
                {{else}}
                {{/each}}
                <li class="new-issue-wrapper" style="display:none;">{{>issuesPanelNewIssue}}</li>
            </ul>
        </div>
        <div class="issues-panel-footer">
            {{#with panelStats selectedSprint._id}}
                Issues: {{totalCount}} ({{openCount}} open), Estimation: {{totalEstimation}} ({{openEstimation}} left)
            {{/with}}
        </div>
        
    </div>
    {{/if}}
</template>


<template name="issuesPanelDropdown">
    <div class="input-group">
        <select class="container form-control">
            {{#each options}}
            <option {{selectedIfEq value selectedSprint}} value="{{value}}">{{name}}{{status_str}}</option>
            {{/each}}
        </select>
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a class="new-issue" href="#">New Issue</a>
                </li>
                <li><a class="new-sprint" href="#">New Sprint</a>
                </li>
            </ul>
        </div>
    </div>
</template>


<template name="issuesPanelNewIssue">
    <div class="new-issue">
        <span class="title">Add new issue</span>
        <form class="form">
            <div class="form-group">
                <input type="text" class="form-control input-sm" name="title" placeholder="Title (required)" />
            </div>
            <div class="form-group">
                <textarea class="form-control input-sm" name="description" placeholder="Description"></textarea>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-sm" name="estimation" placeholder="Estimation" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-sm btn-primary" value="Add new issue" />
                <a class="close-it" href="#">close</a>
            </div>
        </form>
    </div>
</template>