<template name="issuesListTmpl">


    {{#each this}} {{> issueItem }} {{/each}}


</template>






<template name="issueItem">


    <div style="border-radius:0px; border-left: 4px #49bf67 solid; padding:10px; min-height:50px;margin:5px 1px" id={{_id}} title={{gitlab.title}} ref={{sprint}} objectType="issue" class="story list-group-item" state={{gitlab.state}}>


        <div style="width: 16px" class="pull-right">
            <span class="deleteButton glyphicon glyphicon-remove"></span>
            <span class="glyphicon glyphicon-th-list" style="color: #F3E9E8"></span>
        </div>


        <span class="label label-warning pull-left" style="background-color:#f0ad4e;font-size:150%;height:31px;">{{#if estimation}}{{estimation}}{{else}}<span class="glyphicon glyphicon-time" style="width: 16px;  margin-left: -4px"></span>{{/if}}</span>
        <h4 class="list-group-item-heading" style="color:#444;margin:6px 15px 0px 50px">
            
                {{gitlab.title}} </h4>



        <div class="collapse">
            <h5 ref="description" data-type="textarea" class="list-group-item-text">{{gitlab.description}}</h5>
            {{#each tasks _id}}
            <div class="task" id={{_id}} ref={{name}} objectType="task">
                <p class="taskTitle" ref="name" data-type="text">{{name}}</p>
                <p class="taskHours" ref="estimation" data-type="text">{{estimation}}</p>
                <p class="taskText" ref="description" data-type="textarea">{{description}}</p>
                <p class="taskAssignee" ref="assignee" data-type="text">Assigned to: {{assignee}}</p>
                <p class="deleteButton"></p>
            </div>
            {{/each}}
            <details class="addTask">
                <summary>Add task</summary>
                <input type="text" class="tName" style="width: 95%" placeholder="Name" />
                <br/>
                <input type="text" class="tDescription" style="width: 95%" placeholder="Description" />
                <br/>Estimated time:
                <input type="number" class="tTime" style="width: 10%" />
                <br/>Assigned to:
                <select class="tAssigneeSelector" style="width: 30%">{{> planBoardAssignees}}</select>
                <input type="button" class="insertTask" value="Dodaj" style="float: right" />
            </details>
        </div>
    </div>



</template>



<!--
<template name="issueItem">

    
    <div style="border-radius:0px; border-left: 4px green solid" id={{_id}} ref={{sprint}} objectType="issue" class="panel panel-default  state_{{gitlab.state}}">
       
        <div class="panel-heading">
            <span class="badge pull-right" style="font-size:18px">{{estimation}}</span>
            <h3 class="panel-title" ref="title" data-type="text">
                <span class="badge pull-right" style="font-size:18px">{{estimation}}</span>
                {{gitlab.title}} 
              </h3>
            
        </div>

        <div class="panel-body" style="display:none">
            <p ref="description" data-type="textarea">{{gitlab.description}}</p>
        </div>
        
        <div class="progress" style="display:none;height:5px; margin-bottom:0px; padding-bottom:0px">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            <span class="sr-only">60% Complete</span>
        </div>
    </div>
        
    </div>
    

</template>-->

<!--
<template name="issueItem">

    <span class="badge" style="font-size:18px">{{estimation}}</span>
    <div id={{_id}} ref={{sprint}} objectType="issue" class="state_{{gitlab.state}}">
        
        <h3 ref="title" data-type="text">{{gitlab.title}} </h3>
        <p ref="description" data-type="textarea">{{gitlab.description}}</p>

    </div>
    <div class="progress" style="height:5px">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            <span class="sr-only">60% Complete</span>
        </div>
    </div>

</template>
-->
