<template name="navProjectsDropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="min-width:120px">
        
       
        
        {{#if isActiveRoute '^project' }}
        {{project.gitlab.name_with_namespace}}
        {{else}}
        Projects
        {{/if}}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        
        
        
        {{#each projectNames}} 
        
         {{ conlog gitlab }}
        
        <li>{{gitlab.name}}</li>
        
        <!--{{#if enabled}}-->
        <li><a href="{{ pathFor 'project' id=_id }}">{{gitlab.name_with_namespace}}</a>
        </li>
        <!--{{/if}} -->
        
        {{/each}}
        
        {{#if anyProjectIsEnabled}}
        <li class="divider"></li>
        {{/if}}
        <li><a href="{{ pathFor 'settingsProjects' }}">Settings</a>
        </li>
    </ul>
</template>