<template name="panelTmpl">
    ID: {{this.id}}
    <div id="{{this.id}}-nav">
        <ul class="nav nav-pills">
            <li><a class="active" href="#{{this.id}}-sandbox">sandbox</a>
            </li>
            <li><a href="#{{this.id}}-backlog">backlog</a>
            </li>
            <li><a href="#{{this.id}}-sprint1">sprint1</a>
            </li>
            <li><a href="#{{this.id}}-sprint2">sprint2</a>
            </li>
            <li><a href="#{{this.id}}-sprint3">sprint3</a>
            </li>
        </ul>
    </div>
    <div id="{{this.id}}-panel" class="" style="">
        <div class="panel-body">
            <div id="{{this.id}}-sandbox">sandbox
                <h2>.</h2>
                <h2>.</h2>
                <h2>.</h2>
            </div>
            <div id="{{this.id}}-backlog">backlog
                <h2>.</h2>
                <h2>.</h2>
                <h2>.</h2>
            </div>
            <div id="{{this.id}}-sprint1">sprint1
                <h2>.</h2>
                <h2>.</h2>
                <h2>.</h2>
            </div>
            <div id="{{this.id}}-sprint2">sprint2
                <h2>.</h2>
                <h2>.</h2>
                <h2>.</h2>
            </div>
            <div id="{{this.id}}-sprint3">sprint3
                <h2>.</h2>
                <h2>.</h2>
                <h2>.</h2>
            </div>
        </div>
    </div>
</template>