<template name="taskItemTmpl">
    <li class="task list-group-item list-group-item-info" id={{_id}} issueId={{issue_id}}>
        <div>
        <span class="label label-warning">{{taskState status}}</span>
            {{#if user_avatar}}<span class="avatar"><img width="20" height="20" src={{user_avatar}} title={{username}}></span>{{/if}}
            <span class="deleteTaskButton glyphicon glyphicon-remove pull-right" id={{_id}}></span> 
        </div>
        {{#if statusCheck status}}
        <p>{{name}}</p>
        {{else}}
        <p style="text-decoration: line-through">{{name}}</p>
        {{/if}}
    </li> 
</template>