#backlogFooter {
    width: auto;
    margin: 5px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}
.sprintsFooter {
    width: auto;
    margin: 5px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}
#ui-datepicker-div {
    display: none;
}
.placeholder {
    border-style: dotted;
    border-width: 1px;
    border-color: lightgray;
    min-height: 55px;
}
.btn.btn-success.btn-sm {
    margin-top: -10px;
}
.btn.btn-danger.btn-sm {
    margin-top: -10px;
}
#teamEstimationMarker {
    min-width: 60px;
    font-weight: bold;
}