

#backlogFooter {
    width: auto;
    margin: 5px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}
.sprintsFooter {
    width: auto;
    margin: 5px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}