#container {
    width: 100%;
}
.addStory {
    width: 60%;
    height: auto;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #87fac9;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    box-shadow: 3px 3px 8px #888888;
    position: relative;
}
.story {
    width: 70%;
    height: auto;
    min-height: 40px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #87aefa;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    box-shadow: 3px 3px 8px #888888;
    position: relative;
}
.storyTitle {
    width: 60%;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 10px;
    margin: 10px;
}
.storyType {
    text-align: center;
    width: 20%;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 5px;
    margin: 10px;
    left: 61%;
    color: red;
}
.storyText {
    margin: 10px;
    margin-top: 45px;
}
.storyHours {
    position: absolute;
    top: -5px;
    right: 5px;
    margin: 5px;
    width: auto;
    text-align: right;
    height: 40px;
    font-size: 40px;
}
.storyAssignee {
    position: absolute;
    right: 10px;
    width: auto;
    text-align: right;
    height: 16px;
    font-size: 16px;
}
.task {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: auto;
    min-height: 50px;
    background: #c7d4f8;
    position: relative;
    box-shadow: 3px 3px 8px #888888;
    border-radius: 5px;
    position: relative;
}
.taskAdd {
    width: 97%;
    height: auto;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #87fac9;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    box-shadow: 3px 3px 8px #888888;
    position: relative;
}
.taskTitle {
    width: 60%;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 5px;
    margin: 10px;
}
.taskText {
    margin: 15px;
}
.taskHours {
    position: absolute;
    right: 15px;
    top: -5px;
    text-align: right;
    height: 40px;
    width: 40px;
    font-size: 40px;
}
.taskAssignee {
    position: relative;
    right: 5px;
    bottom: 5px;
    width: auto;
    text-align: right;
    height: 16px;
    font-size: 16px;
}
.deleteButton {
    height: 16px;
    width: 16px;
    background-image: url('delete.png');
}